Assignment_1/db/
Assignment_1/incremental_db/


Assignment_2/db/
Assignment_2_Part_2/db/

Assignment_3/db/
Assignment_3/incremental_db/*

Assignment_4/db/
Assignment_5/db/
Assignment_3/incremental_db/
